<a href="https://colab.research.google.com/github/Peckkie/Experiment_Evaluation_CCA/blob/main/Checking_Result_ExpRadio_Wrong.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# คำสั่ง  drive.mount : เป็นผูก google drive กับ colab
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os
os.chdir( '/content/drive/MyDrive/CCA_Project')
!pwd

/content/drive/MyDrive/CCA_Project

In [56]:
import pandas as pd
df = pd.read_csv( '/content/drive/MyDrive/CCA_Project/result_csv/Experiment2_AI.csv')
df.head(3)

   Unnamed: 0  num            FileName  ... B10_Pred2_ass B11_Pred2 B12_Pred2
0           0    1    AB01 P1 C100.JPG  ...          AB02      AB02      AB01
1           1    2  AB01 P4-2 C050.JPG  ...          AB02      AB01    Normal
2           2    3  AB01 P5-2 C004.JPG  ...          AB01      AB02    Normal

[3 rows x 45 columns]

In [58]:
df_ = df[['FileName','Path Full', 'B10_Pred2_ass','B11_Pred1_ass','B12_Pred1_ass','U10_Pred2_ass','U11_Pred','U20_Pred_ass','U21_Pred2_ass','U30_Pred2_ass','U31_Pred_ass','U40_Pred_ass','U41_Pred2_ass','Sub_class_New','category']]
df_.head()

             FileName  ... category
0    AB01 P1 C100.JPG  ...     AB02
1  AB01 P4-2 C050.JPG  ...     AB02
2  AB01 P5-2 C004.JPG  ...     AB01
3    AB02 P1 C001.JPG  ...     AB02
4  AB02 P3-1 C001.JPG  ...     AB01

[5 rows x 15 columns]

In [59]:
per = ['B10_Pred2_ass','B11_Pred1_ass','B12_Pred1_ass','U10_Pred2_ass','U11_Pred','U20_Pred_ass','U21_Pred2_ass','U30_Pred2_ass','U31_Pred_ass','U40_Pred_ass','U41_Pred2_ass']

for i in per:
    act = df_['Sub_class_New'].tolist()
    per_= df_[i].tolist()

    a_ =[]
    for  j in range(len(per_)):
        if act[j]==per_[j]:
            a = 'Correct'
            a_.append(a)
        else:
            a = 'Incorrect'
            a_.append(a) 
    df_[i+'_']  = a_

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [60]:
df_

               FileName  ... U41_Pred2_ass_
0      AB01 P1 C100.JPG  ...        Correct
1    AB01 P4-2 C050.JPG  ...      Incorrect
2    AB01 P5-2 C004.JPG  ...      Incorrect
3      AB02 P1 C001.JPG  ...        Correct
4    AB02 P3-1 C001.JPG  ...        Correct
..                  ...  ...            ...
145          P8C193.jpg  ...        Correct
146     P8_Case_007.jpg  ...        Correct
147     P8_Case_025.jpg  ...        Correct
148     P8_Case_029.jpg  ...        Correct
149     P8_Case_032.jpg  ...        Correct

[150 rows x 26 columns]

In [61]:
a = df_[['B10_Pred2_ass_','B11_Pred1_ass_','B12_Pred1_ass_','U10_Pred2_ass_','U11_Pred_','U20_Pred_ass_','U21_Pred2_ass_','U30_Pred2_ass_','U31_Pred_ass_','U40_Pred_ass_','U41_Pred2_ass_']]

In [62]:
import collections
max_class_, max_count_ = [], []
for i in range(len(a)):
    counter=collections.Counter(a.iloc[i,:])
    max_class = counter.most_common(3)[0][0]
    max_count = counter.most_common(3)[0][1]
    max_class_.append(max_class)
    max_count_.append(max_count)
df_['Result_max'] = max_class_
df_['Result_count'] = max_count_

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [63]:
dff = df[['B10_Pred2_ass','B11_Pred1_ass','B12_Pred1_ass','U10_Pred2_ass','U11_Pred','U20_Pred_ass','U21_Pred2_ass','U30_Pred2_ass','U31_Pred_ass','U40_Pred_ass','U41_Pred2_ass']]

max_class_, max_count_ = [], []
for i in range(len(dff)):
    counter=collections.Counter(dff.iloc[i,:])
    max_class = counter.most_common(3)[0][0]
    max_count = counter.most_common(3)[0][1]
    max_class_.append(max_class)
    max_count_.append(max_count)
df_['Dup_clas'] = max_class_
df_['Dup_count'] = max_count_

df_['index_col'] = dff.index

max = df_['Dup_clas'].tolist()
act = df_['Sub_class_New'].tolist()
ai = df_['category'].tolist()

a_ =[]
for  i in range(len(max)):
    if ai[i]==max[i]:
        a = 'Same'
        a_.append(a)
    else:
        a = 'NotSame'
        a_.append(a) 
df_['Result_AI']  = a_

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [64]:
per = ['B10_Pred2_ass','B11_Pred1_ass','B12_Pred1_ass','U10_Pred2_ass','U11_Pred']

for i in per:
    act = df_['Sub_class_New'].tolist()
    per_= df_[i].tolist()

    a_ =[]
    for  j in range(len(per_)):
        if act[j]==per_[j]:
            a = 'Correct'
            a_.append(a)
        else:
            a = 'Incorrect'
            a_.append(a) 
    df_[i+'_GP']  = a_

dff = df[['B10_Pred2_ass','B11_Pred1_ass','B12_Pred1_ass','U10_Pred2_ass','U11_Pred']]
max_class_, max_count_ = [], []
for i in range(len(dff)):
    counter=collections.Counter(dff.iloc[i,:])
    max_class = counter.most_common(3)[0][0]
    max_count = counter.most_common(3)[0][1]
    max_class_.append(max_class)
    max_count_.append(max_count)
df_['Dup_clas_GP'] = max_class_
df_['Dup_count_GP'] = max_count_

a = df_[['B10_Pred2_ass_GP','B11_Pred1_ass_GP','B12_Pred1_ass_GP','U10_Pred2_ass_GP','U11_Pred_GP']]
import collections
max_class_, max_count_ = [], []
for i in range(len(a)):
    counter=collections.Counter(a.iloc[i,:])
    max_class = counter.most_common(3)[0][0]
    max_count = counter.most_common(3)[0][1]
    max_class_.append(max_class)
    max_count_.append(max_count)
df_['Result_max_GP'] = max_class_
df_['Result_count_GP'] = max_count_

max = df_['Dup_clas_GP'].tolist()
act = df_['Sub_class_New'].tolist()
ai = df_['category'].tolist()

a_ =[]
for  i in range(len(max)):
    if ai[i]==max[i]:
        a = 'Same'
        a_.append(a)
    else:
        a = 'NotSame'
        a_.append(a) 
df_['Result_AI_GP']  = a_

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [65]:
# a = df_[['B10_Pred2_ass_','B11_Pred1_ass_','B12_Pred1_ass_','U10_Pred2_ass_','U11_Pred_','U20_Pred_ass_','U21_Pred2_ass_','U30_Pred2_ass_','U31_Pred_ass_','U40_Pred_ass_','U41_Pred2_ass_']]
per = ['U20_Pred_ass','U21_Pred2_ass']

for i in per:
    act = df_['Sub_class_New'].tolist()
    per_= df_[i].tolist()

    a_ =[]
    for  j in range(len(per_)):
        if act[j]==per_[j]:
            a = 'Correct'
            a_.append(a)
        else:
            a = 'Incorrect'
            a_.append(a) 
    df_[i+'_Res']  = a_

dff = df[['U20_Pred_ass','U21_Pred2_ass']]
max_class_, max_count_ = [], []
for i in range(len(dff)):
    counter=collections.Counter(dff.iloc[i,:])
    max_class = counter.most_common(3)[0][0]
    max_count = counter.most_common(3)[0][1]
    max_class_.append(max_class)
    max_count_.append(max_count)
df_['Dup_clas_Res'] = max_class_
df_['Dup_count_Res'] = max_count_

a = df_[['U20_Pred_ass_Res','U21_Pred2_ass_Res']]
import collections
max_class_, max_count_ = [], []
for i in range(len(a)):
    counter=collections.Counter(a.iloc[i,:])
    max_class = counter.most_common(3)[0][0]
    max_count = counter.most_common(3)[0][1]
    max_class_.append(max_class)
    max_count_.append(max_count)
df_['Result_max_Res'] = max_class_
df_['Result_count_Res'] = max_count_

max = df_['Dup_clas_Res'].tolist()
act = df_['Sub_class_New'].tolist()
ai = df_['category'].tolist()

a_ =[]
for  i in range(len(max)):
    if ai[i]==max[i]:
        a = 'Same'
        a_.append(a)
    else:
        a = 'NotSame'
        a_.append(a) 
df_['Result_AI_Res']  = a_

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

In [66]:
per = ['U30_Pred2_ass','U31_Pred_ass']

for i in per:
    act = df_['Sub_class_New'].tolist()
    per_= df_[i].tolist()

    a_ =[]
    for  j in range(len(per_)):
        if act[j]==per_[j]:
            a = 'Correct'
            a_.append(a)
        else:
            a = 'Incorrect'
            a_.append(a) 
    df_[i+'_NonHB']  = a_

dff = df[['U30_Pred2_ass','U31_Pred_ass']]
max_class_, max_count_ = [], []
for i in range(len(dff)):
    counter=collections.Counter(dff.iloc[i,:])
    max_class = counter.most_common(3)[0][0]
    max_count = counter.most_common(3)[0][1]
    max_class_.append(max_class)
    max_count_.append(max_count)
df_['Dup_clas_NonHB'] = max_class_
df_['Dup_count_NonHB'] = max_count_

a = df_[['U30_Pred2_ass_NonHB','U31_Pred_ass_NonHB']]
import collections
max_class_, max_count_ = [], []
for i in range(len(a)):
    counter=collections.Counter(a.iloc[i,:])
    max_class = counter.most_common(3)[0][0]
    max_count = counter.most_common(3)[0][1]
    max_class_.append(max_class)
    max_count_.append(max_count)
df_['Result_max_NonHB'] = max_class_
df_['Result_count_NonHB'] = max_count_

max = df_['Dup_clas_NonHB'].tolist()
act = df_['Sub_class_New'].tolist()
ai = df_['category'].tolist()

a_ =[]
for  i in range(len(max)):
    if ai[i]==max[i]:
        a = 'Same'
        a_.append(a)
    else:
        a = 'NotSame'
        a_.append(a) 
df_['Result_AI_NonHB']  = a_

In [67]:
per = ['U40_Pred_ass','U41_Pred2_ass']

for i in per:
    act = df_['Sub_class_New'].tolist()
    per_= df_[i].tolist()

    a_ =[]
    for  j in range(len(per_)):
        if act[j]==per_[j]:
            a = 'Correct'
            a_.append(a)
        else:
            a = 'Incorrect'
            a_.append(a) 
    df_[i+'_HB']  = a_

dff = df[['U40_Pred_ass','U41_Pred2_ass']]
max_class_, max_count_ = [], []
for i in range(len(dff)):
    counter=collections.Counter(dff.iloc[i,:])
    max_class = counter.most_common(3)[0][0]
    max_count = counter.most_common(3)[0][1]
    max_class_.append(max_class)
    max_count_.append(max_count)
df_['Dup_clas_HB'] = max_class_
df_['Dup_count_HB'] = max_count_

a = df_[['U40_Pred_ass_HB','U41_Pred2_ass_HB']]
import collections
max_class_, max_count_ = [], []
for i in range(len(a)):
    counter=collections.Counter(a.iloc[i,:])
    max_class = counter.most_common(3)[0][0]
    max_count = counter.most_common(3)[0][1]
    max_class_.append(max_class)
    max_count_.append(max_count)
df_['Result_max_HB'] = max_class_
df_['Result_count_HB'] = max_count_


max = df_['Dup_clas_HB'].tolist()
act = df_['Sub_class_New'].tolist()
ai = df_['category'].tolist()

a_ =[]
for  i in range(len(max)):
    if ai[i]==max[i]:
        a = 'Same'
        a_.append(a)
    else:
        a = 'NotSame'
        a_.append(a) 
df_['Result_AI_HB']  = a_

In [68]:
df_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 63 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   FileName             150 non-null    object
 1   Path Full            150 non-null    object
 2   B10_Pred2_ass        150 non-null    object
 3   B11_Pred1_ass        150 non-null    object
 4   B12_Pred1_ass        150 non-null    object
 5   U10_Pred2_ass        150 non-null    object
 6   U11_Pred             150 non-null    object
 7   U20_Pred_ass         150 non-null    object
 8   U21_Pred2_ass        150 non-null    object
 9   U30_Pred2_ass        150 non-null    object
 10  U31_Pred_ass         150 non-null    object
 11  U40_Pred_ass         150 non-null    object
 12  U41_Pred2_ass        150 non-null    object
 13  Sub_class_New        150 non-null    object
 14  category             150 non-null    object
 15  B10_Pred2_ass_       150 non-null    object
 16  B11_Pred1_ass_       150 non-null    object
 17  B12_Pred1_ass_       150 non-null    object
 18  U10_Pred2_ass_       150 non-null    object
 19  U11_Pred_            150 non-null    object
 20  U20_Pred_ass_        150 non-null    object
 21  U21_Pred2_ass_       150 non-null    object
 22  U30_Pred2_ass_       150 non-null    object
 23  U31_Pred_ass_        150 non-null    object
 24  U40_Pred_ass_        150 non-null    object
 25  U41_Pred2_ass_       150 non-null    object
 26  Result_max           150 non-null    object
 27  Result_count         150 non-null    int64
 28  Dup_clas             150 non-null    object
 29  Dup_count            150 non-null    int64
 30  index_col            150 non-null    int64
 31  Result_AI            150 non-null    object
 32  B10_Pred2_ass_GP     150 non-null    object
 33  B11_Pred1_ass_GP     150 non-null    object
 34  B12_Pred1_ass_GP     150 non-null    object
 35  U10_Pred2_ass_GP     150 non-null    object
 36  U11_Pred_GP          150 non-null    object
 37  Dup_clas_GP          150 non-null    object
 38  Dup_count_GP         150 non-null    int64
 39  Result_max_GP        150 non-null    object
 40  Result_count_GP      150 non-null    int64
 41  Result_AI_GP         150 non-null    object
 42  U20_Pred_ass_Res     150 non-null    object
 43  U21_Pred2_ass_Res    150 non-null    object
 44  Dup_clas_Res         150 non-null    object
 45  Dup_count_Res        150 non-null    int64
 46  Result_max_Res       150 non-null    object
 47  Result_count_Res     150 non-null    int64
 48  Result_AI_Res        150 non-null    object
 49  U30_Pred2_ass_NonHB  150 non-null    object
 50  U31_Pred_ass_NonHB   150 non-null    object
 51  Dup_clas_NonHB       150 non-null    object
 52  Dup_count_NonHB      150 non-null    int64
 53  Result_max_NonHB     150 non-null    object
 54  Result_count_NonHB   150 non-null    int64
 55  Result_AI_NonHB      150 non-null    object
 56  U40_Pred_ass_HB      150 non-null    object
 57  U41_Pred2_ass_HB     150 non-null    object
 58  Dup_clas_HB          150 non-null    object
 59  Dup_count_HB         150 non-null    int64
 60  Result_max_HB        150 non-null    object
 61  Result_count_HB      150 non-null    int64
 62  Result_AI_HB         150 non-null    object
dtypes: int64(11), object(52)
memory usage: 74.0+ KB

In [91]:
df0 = df[['tagName0','Sub_class_New','category', 'Prob',  'Top3_category']]
df_0 = df_[['FileName', 'Path Full','Result_max','Dup_clas', 'Result_count','index_col', 'Result_AI','Dup_clas_GP', 'Dup_count_GP', 'Result_AI_GP','Result_max_GP', 'Result_count_GP', 'Dup_clas_Res', 'Dup_count_Res', 'Result_AI_Res','Result_max_Res', 'Result_count_Res', 'Dup_clas_NonHB', 'Dup_count_NonHB', 'Result_AI_NonHB','Result_max_NonHB', 'Result_count_NonHB', 'Dup_clas_HB', 'Dup_count_HB', 'Result_AI_HB','Result_max_HB', 'Result_count_HB']]

In [92]:
result = pd.concat([df0, df_0], axis=1)
result

      tagName0 Sub_class_New  ... Result_max_HB  Result_count_HB
0         Easy          AB01  ...     Incorrect                1
1         Easy          AB01  ...     Incorrect                2
2         Easy          AB01  ...       Correct                1
3         Easy          AB02  ...       Correct                2
4         Easy          AB02  ...       Correct                2
..         ...           ...  ...           ...              ...
145       Easy        Normal  ...       Correct                2
146       Hard        Normal  ...       Correct                2
147  different        Normal  ...       Correct                2
148  different        Normal  ...       Correct                2
149  different        Normal  ...       Correct                2

[150 rows x 32 columns]

In [93]:
# os.chdir( '/content/drive/MyDrive/CCA_Project/result_csv')
# result.to_csv('Result_ExpRadioAss_150.csv')

In [104]:
Table=[]
for i in range(len(result)):
    Table.append({'index_col':result.index_col[i], 'FileName':result.FileName[i], 'Level_img':result.tagName0[i], 'Act':result.Sub_class_New[i], 'AI_pred':result.category[i],
                  'Top-3':result.Top3_category[i], 'Exp_Result':result.Dup_clas[i], 'Exp_Count':result.Result_count[i], 'Similarity':result.Result_AI[i], 'Act_Result':result.Result_max[i]})
Abndf = pd.DataFrame(Table)
Abndf

     index_col            FileName  Level_img  ... Exp_Count Similarity Act_Result
0            0    AB01 P1 C100.JPG       Easy  ...        10       Same  Incorrect
1            1  AB01 P4-2 C050.JPG       Easy  ...        10       Same  Incorrect
2            2  AB01 P5-2 C004.JPG       Easy  ...         8       Same    Correct
3            3    AB02 P1 C001.JPG       Easy  ...         9       Same    Correct
4            4  AB02 P3-1 C001.JPG       Easy  ...         6       Same  Incorrect
..         ...                 ...        ...  ...       ...        ...        ...
145        145          P8C193.jpg       Easy  ...        11       Same    Correct
146        146     P8_Case_007.jpg       Hard  ...         9       Same    Correct
147        147     P8_Case_025.jpg  different  ...        10       Same    Correct
148        148     P8_Case_029.jpg  different  ...        10       Same    Correct
149        149     P8_Case_032.jpg  different  ...        10       Same    Correct

[150 rows x 10 columns]

## กรณี หมอทำนายผิดเหมือนกันทั้งหมด (11)

In [105]:
df_11 = Abndf[Abndf['Exp_Count']==11]
print(len(df_11))
df_11.head()

16

    index_col             FileName Level_img  ... Exp_Count Similarity Act_Result
25         25  AB09 P6-1 C068 .JPG      Easy  ...        11       Same    Correct
27         27   AB10 P6-1 C009.JPG      Easy  ...        11       Same    Correct
37         37    AB081 P1 C067.JPG      Easy  ...        11       Same    Correct
38         38  AB081 P4-1 C030.JPG      Easy  ...        11    NotSame    Correct
39         39  AB081 P5-1 C100.JPG      Easy  ...        11       Same    Correct

[5 rows x 10 columns]

In [106]:
df_11[["Act_Result", 'Similarity', "index_col"]].groupby(['Act_Result', 'Similarity']).count()

                       index_col
Act_Result Similarity
Correct    NotSame             1
           Same               14
Incorrect  NotSame             1

In [107]:
df11 = df_11[df_11['Act_Result']=='Incorrect']
df11

    index_col         FileName Level_img  ... Exp_Count Similarity Act_Result
54         54  P2.Case 206.JPG      Hard  ...        11    NotSame  Incorrect

[1 rows x 10 columns]

## กรณีรายกลุ่ม

In [108]:
result

      tagName0 Sub_class_New  ... Result_max_HB  Result_count_HB
0         Easy          AB01  ...     Incorrect                1
1         Easy          AB01  ...     Incorrect                2
2         Easy          AB01  ...       Correct                1
3         Easy          AB02  ...       Correct                2
4         Easy          AB02  ...       Correct                2
..         ...           ...  ...           ...              ...
145       Easy        Normal  ...       Correct                2
146       Hard        Normal  ...       Correct                2
147  different        Normal  ...       Correct                2
148  different        Normal  ...       Correct                2
149  different        Normal  ...       Correct                2

[150 rows x 32 columns]

In [ ]:
Table=[]
for i in range(len(result)):
    Table.append({'index_col':result.index_col[i], 'FileName':result.FileName[i], 'Level_img':result.tagName0[i], 'Act':result.Sub_class_New[i], 'AI_pred':result.category[i],
                  'Top-3':result.Top3_category[i], 'Exp_Result':result.Dup_clas[i], 'Exp_Count':result.Result_count[i], 'Similarity':result.Result_AI[i], 'Act_Result':result.Result_max[i]})
Abndf = pd.DataFrame(Table)
Abndf

In [ ]:
per = ['B10_Pred2_ass','B11_Pred1_ass','B12_Pred1_ass','U10_Pred2_ass','U11_Pred']

for i in per:
    act = df_['Sub_class_New'].tolist()
    per_= df_[i].tolist()

    a_ =[]
    for  j in range(len(per_)):
        if act[j]==per_[j]:
            a = 'Correct'
            a_.append(a)
        else:
            a = 'Incorrect'
            a_.append(a) 
    df_[i+'_']  = a_

dff = df[['B10_Pred2_ass','B11_Pred1_ass','B12_Pred1_ass','U10_Pred2_ass','U11_Pred','U20_Pred_ass','U21_Pred2_ass','U30_Pred2_ass','U31_Pred_ass','U40_Pred_ass','U41_Pred2_ass']]
max_class_, max_count_ = [], []
for i in range(len(dff)):
    counter=collections.Counter(dff.iloc[i,:])
    max_class = counter.most_common(3)[0][0]
    max_count = counter.most_common(3)[0][1]
    max_class_.append(max_class)
    max_count_.append(max_count)
df_['Dup_clas'] = max_class_
df_['Dup_count'] = max_count_

df_['index_col'] = dff.index

max = df_['Dup_clas'].tolist()
act = df_['Sub_class_New'].tolist()
ai = df_['category'].tolist()

a_ =[]
for  i in range(len(max)):
    if ai[i]==max[i]:
        a = 'Same'
        a_.append(a)
    else:
        a = 'NotSame'
        a_.append(a) 
df_['Result_AI']  = a_

### GP