In [1]:
import pandas as pd
import numpy as np
df0 = pd.read_csv (r'/home/yupaporn/codes/USAI/Data_tagName_Final.csv')
df = df0[(df0['Path Crop']!='None' )&(df0['Path Crop']!='Nan')]
df = df[(df['fold']!=1)&(df['fold']!=2)]
df = df.drop(['Unnamed: 0'], axis=1)
Abnormal = df[df['Class'] == 'Abnormal']
Normal = df[df['Class'] == 'Normal']
print('Total : ',len(df))
print('Abnormal : ',len(Abnormal))
print('Normal : ',len(Normal))

Total :  5257
Abnormal :  1823
Normal :  3434

In [2]:
values = {'Sub_class_New': 'Normal'}
df =df.fillna(value=values)

In [3]:
conf_mat = pd.crosstab(df['Views'],df['Sub_class_New'],rownames=['5-FP Class'],colnames=['15AB Class'])
conf_mat

15AB Class,AB01,AB02,AB03,AB04,AB05,AB06,AB07,AB081,AB082,AB083,AB09,AB10,AB11,AB12,Normal
5-FP Class,,,,,,,,,,,,,,,
FP-A,84,109,42,84,34,59,2,22,21,8,0,0,0,0,596
FP-B,130,101,26,37,60,5,51,57,48,23,2,0,0,0,1063
FP-C,81,59,21,38,4,0,21,45,40,12,96,43,60,0,1015
FP-D,0,0,0,3,0,0,0,0,0,0,0,0,161,134,482
FP-E,0,0,0,0,0,0,0,0,0,0,0,0,0,0,278

In [6]:
conf_mat = pd.crosstab(df['Views'],df['Abs Position'],rownames=['5-FP Class'],colnames=['Abs Position Class'])
conf_mat

Abs Position Class   P1   P2   P3   P4   P5   P6   P7   P8
5-FP Class
FP-A                550  511    0    0    0    0    0    0
FP-B                  0    0  776  827    0    0    0    0
FP-C                  0    0    0    0  904  631    0    0
FP-D                  0    0    0    0    0    0  780    0
FP-E                  0    0    0    0    0    0    0  278

In [5]:
conf_mat = pd.crosstab(df['Abs Position'],df['Sub_class_New'],rownames=['Abs Position Class'],colnames=['15AB Class'])                                                                                             
conf_mat

15AB Class,AB01,AB02,AB03,AB04,AB05,AB06,AB07,AB081,AB082,AB083,AB09,AB10,AB11,AB12,Normal
Abs Position Class,,,,,,,,,,,,,,,
P1,42,55,21,44,17,47,2,15,18,8,0,0,0,0,281
P2,42,54,21,40,17,12,0,7,3,0,0,0,0,0,315
P3,71,63,18,22,42,3,5,16,9,9,0,0,0,0,518
P4,59,38,8,15,18,2,46,41,39,14,2,0,0,0,545
P5,81,59,21,38,4,0,21,44,23,12,1,0,60,0,540
P6,0,0,0,0,0,0,0,1,17,0,95,43,0,0,475
P7,0,0,0,3,0,0,0,0,0,0,0,0,161,134,482
P8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,278

In [4]:
df

,Case,Abs Position,Sub Position,Class,Path Full,Path Crop,Views,fold,15AB,originalImage,...,height,Rleft,Rtop,Rwidth,Rheight,Sub_class_New,tag_AjNit,tag_AjWan,Test150,Spilt
0,15,P3,P31,Abnormal,/media/tohn/HDD/VISION_dataset/USAI/ABnormal01...,/media/tohn/HDD/VISION_dataset/USAI/ABnormal01...,FP-B,3,MildFattyLiver,https://irisprodseatraining.blob.core.windows....,...,584.0,0.036832,0.107041,0.712707,0.649402,AB01,NaN,NaN,False,Train
1,15,P1,P1,Abnormal,/media/tohn/HDD/VISION_dataset/USAI/ABnormal01...,/media/tohn/HDD/VISION_dataset/USAI/ABnormal01...,FP-A,3,MildFattyLiver,https://irisprodseatraining.blob.core.windows....,...,614.0,0.143898,0.107041,0.595628,0.683267,AB01,NaN,NaN,False,Train
2,15,P2,P2,Abnormal,/media/tohn/HDD/VISION_dataset/USAI/ABnormal01...,/media/tohn/HDD/VISION_dataset/USAI/ABnormal01...,FP-A,3,MildFattyLiver,https://irisprodseatraining.blob.core.windows....,...,451.0,0.245009,0.113017,0.497278,0.501992,AB01,NaN,NaN,False,Train
3,15,P4,P42,Abnormal,/media/tohn/HDD/VISION_dataset/USAI/ABnormal01...,/media/tohn/HDD/VISION_dataset/USAI/ABnormal01...,FP-B,3,MildFattyLiver,https://irisprodseatraining.blob.core.windows....,...,611.0,0.155235,0.122977,0.718412,0.679283,AB01,NaN,NaN,False,Train
4,15,P4,P41,Abnormal,/media/tohn/HDD/VISION_dataset/USAI/ABnormal01...,/media/tohn/HDD/VISION_dataset/USAI/ABnormal01...,FP-B,3,MildFattyLiver,https://irisprodseatraining.blob.core.windows....,...,519.0,0.152057,0.162817,0.608229,0.577689,AB01,NaN,NaN,False,Train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6564,344,P3,P32,Normal,/media/tohn/HDD/VISION_dataset/USAI/US images ...,/media/tohn/HDD/VISION_dataset/USAI/US images ...,FP-B,4,Normal,NaN,...,NaN,NaN,NaN,NaN,NaN,Normal,NaN,NaN,False,Train
6565,344,P4,P42,Normal,/media/tohn/HDD/VISION_dataset/USAI/US images ...,/media/tohn/HDD/VISION_dataset/USAI/US images ...,FP-B,4,Normal,NaN,...,NaN,NaN,NaN,NaN,NaN,Normal,NaN,NaN,False,Train
6566,344,P5,P52,Normal,/media/tohn/HDD/VISION_dataset/USAI/US images ...,/media/tohn/HDD/VISION_dataset/USAI/US images ...,FP-C,4,Normal,NaN,...,NaN,NaN,NaN,NaN,NaN,Normal,NaN,NaN,False,Train
6567,344,P6,P61,Normal,/media/tohn/HDD/VISION_dataset/USAI/US images ...,/media/tohn/HDD/VISION_dataset/USAI/US images ...,FP-C,4,Normal,NaN,...,NaN,NaN,NaN,NaN,NaN,Normal,NaN,NaN,False,Train
6568,344,P8,P8,Normal,/media/tohn/HDD/VISION_dataset/USAI/US images ...,/media/tohn/HDD/VISION_dataset/USAI/US images ...,FP-E,4,Normal,NaN,...,NaN,NaN,NaN,NaN,NaN,Normal,NaN,NaN,False,Train