In [1]:
import os
os.chdir( '/media/tohn/SSD/CSV_CCA_Patient_Information')
!ls

1_US_images_for_AI_1_60.xlsx	  2_2_US_images_for_AI_101_150.xlsx
2_1_US_images_for_AI_61_100.xlsx  3_US_images_for_AI_200_250.xlsx

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
# file_location = '/media/tohn/SSD/CSV_CCA_Patient_Information/1_US_images_for_AI_1_60.xlsx'
# df1 = pd.read_excel(file_location, engine='openpyxl',sheet_name=0)
# for i in range(1,8):
#     print(i)
#     df2 = pd.read_excel(file_errors_location, engine='openpyxl',sheet_name=i)
#     print(len(df2))
# #     df1 = df1.append(df2, sort=False)
#     df1 = df1.append(df2, ignore_index=True, sort=False)

# 1_US_images_for_AI_1_60.xlsx

In [4]:
file_location = '/media/tohn/SSD/CSV_CCA_Patient_Information/1_US_images_for_AI_1_60.xlsx'
df0 = pd.read_excel(file_location, engine='openpyxl',sheet_name=0)
df1 = pd.read_excel(file_location, engine='openpyxl',sheet_name=1)
df2 = pd.read_excel(file_location, engine='openpyxl',sheet_name=2)
df3 = pd.read_excel(file_location, engine='openpyxl',sheet_name=3)
df4 = pd.read_excel(file_location, engine='openpyxl',sheet_name=4)
df5 = pd.read_excel(file_location, engine='openpyxl',sheet_name=5)
df6 = pd.read_excel(file_location, engine='openpyxl',sheet_name=6)
df7 = pd.read_excel(file_location, engine='openpyxl',sheet_name=7)
print(len(df0), len(df1), len(df2), len(df3), len(df4), len(df5), len(df6), len(df7))
df_1 = pd.concat([df0, df1, df2, df3, df4, df5, df6, df7], axis=0)
df_1

61 60 120 120 120 75 104 60

       Code  SID  PID      HN Gender  Age
0     P1001  NaN  NaN  454013      F   51
1     P1002  NaN  NaN   79316      F   76
2     P1003  NaN  NaN   97207      M   44
3     P1004  NaN  NaN   98052      F   66
4     P1005  NaN  NaN  104334      F   49
..      ...  ...  ...     ...    ...  ...
55  P8056-1  NaN  NaN  221192      F   49
56  P8057-1  NaN  NaN  289178      F   37
57  P8058-1  NaN  NaN   48259      M   64
58  P8059-1  NaN  NaN   47815      M   59
59  P8060-1  NaN  NaN  413294      F   36

[720 rows x 6 columns]

# 2_1_US_images_for_AI_61_100.xlsx

In [5]:
file_location = '/media/tohn/SSD/CSV_CCA_Patient_Information/2_1_US_images_for_AI_61_100.xlsx'
df0 = pd.read_excel(file_location, engine='openpyxl',sheet_name=0)
df1 = pd.read_excel(file_location, engine='openpyxl',sheet_name=1)
df2 = pd.read_excel(file_location, engine='openpyxl',sheet_name=2)
df3 = pd.read_excel(file_location, engine='openpyxl',sheet_name=3)
df4 = pd.read_excel(file_location, engine='openpyxl',sheet_name=4)
df5 = pd.read_excel(file_location, engine='openpyxl',sheet_name=5)
df6 = pd.read_excel(file_location, engine='openpyxl',sheet_name=6)
df7 = pd.read_excel(file_location, engine='openpyxl',sheet_name=7)
df8 = pd.read_excel(file_location, engine='openpyxl',sheet_name=8)
df9 = pd.read_excel(file_location, engine='openpyxl',sheet_name=9)
df10 = pd.read_excel(file_location, engine='openpyxl',sheet_name=10)
df11 = pd.read_excel(file_location, engine='openpyxl',sheet_name=11)

print(len(df0), len(df1), len(df2), len(df3), len(df4), len(df5), len(df6), len(df7), len(df8), len(df9), len(df10), len(df11))
df_2 = pd.concat([df0, df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11], axis=0)
df_2

41 59 120 120 120 75 104 119 60 60 60 60

,Code,SID,PID,HN,Gender,Age,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,P1C061,NaN,NaN,121350,M,57.0,NaN,NaN,NaN
1,P1C062,NaN,NaN,26010,F,26.0,NaN,NaN,NaN
2,P1C063,NaN,NaN,35750,M,46.0,NaN,NaN,NaN
3,P1C063-1,NaN,NaN,ไม่มีภาพ,NaN,NaN,NaN,NaN,NaN
4,P1C064,NaN,NaN,289178,F,30.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#  2_2_US_images_for_AI_101_150.xlsx

In [6]:
file_location = '/media/tohn/SSD/CSV_CCA_Patient_Information/2_2_US_images_for_AI_101_150.xlsx'
df0 = pd.read_excel(file_location, engine='openpyxl',sheet_name=0)
df1 = pd.read_excel(file_location, engine='openpyxl',sheet_name=1)
df2 = pd.read_excel(file_location, engine='openpyxl',sheet_name=2)
df3 = pd.read_excel(file_location, engine='openpyxl',sheet_name=3)
df4 = pd.read_excel(file_location, engine='openpyxl',sheet_name=4)
df5 = pd.read_excel(file_location, engine='openpyxl',sheet_name=5)
df6 = pd.read_excel(file_location, engine='openpyxl',sheet_name=6)
df7 = pd.read_excel(file_location, engine='openpyxl',sheet_name=7)
df8 = pd.read_excel(file_location, engine='openpyxl',sheet_name=8)
df9 = pd.read_excel(file_location, engine='openpyxl',sheet_name=9)
df10 = pd.read_excel(file_location, engine='openpyxl',sheet_name=10)
df11 = pd.read_excel(file_location, engine='openpyxl',sheet_name=11)

print(len(df0), len(df1), len(df2), len(df3), len(df4), len(df5), len(df6), len(df7), len(df8), len(df9), len(df10), len(df11))
df_3 = pd.concat([df0, df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11], axis=0)
df_3

50 50 50 50 50 50 50 50 50 50 50 50

      Code  SID  PID      HN Gender  Age
0   P1C101  NaN  NaN   12097      F   47
1   P1C102  NaN  NaN   45797      M   66
2   P1C103  NaN  NaN   11921      M   52
3   P1C104  NaN  NaN   20039      F   57
4   P1C105  NaN  NaN   37174      F   51
..     ...  ...  ...     ...    ...  ...
45  P8C146  NaN  NaN  384208      F   41
46  P8C147  NaN  NaN  385308      M   55
47  P8C148  NaN  NaN  385777      F   40
48  P8C149  NaN  NaN  402648      M   38
49  P8C150  NaN  NaN  406236      F   33

[600 rows x 6 columns]

# 3_US_images_for_AI_200_250.xlsx

In [7]:
file_location = '/media/tohn/SSD/CSV_CCA_Patient_Information/3_US_images_for_AI_200_250.xlsx'
df0 = pd.read_excel(file_location, engine='openpyxl',sheet_name=0)
df1 = pd.read_excel(file_location, engine='openpyxl',sheet_name=1)
df2 = pd.read_excel(file_location, engine='openpyxl',sheet_name=2)
df3 = pd.read_excel(file_location, engine='openpyxl',sheet_name=3)
df4 = pd.read_excel(file_location, engine='openpyxl',sheet_name=4)
df5 = pd.read_excel(file_location, engine='openpyxl',sheet_name=5)
df6 = pd.read_excel(file_location, engine='openpyxl',sheet_name=6)
df7 = pd.read_excel(file_location, engine='openpyxl',sheet_name=7)
df8 = pd.read_excel(file_location, engine='openpyxl',sheet_name=8)
df9 = pd.read_excel(file_location, engine='openpyxl',sheet_name=9)
df10 = pd.read_excel(file_location, engine='openpyxl',sheet_name=10)
df11 = pd.read_excel(file_location, engine='openpyxl',sheet_name=11)
df12 = pd.read_excel(file_location, engine='openpyxl',sheet_name=12)
print(len(df0), len(df1), len(df2), len(df3), len(df4), len(df5), len(df6), len(df7), len(df8), len(df9), len(df10), len(df11), len(df12))
df_4 = pd.concat([df0, df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12], axis=0)
df_4

50 50 50 50 50 50 50 50 50 50 50 50 50

      Code  SID  PID      HN Gender  Age  Unnamed: 6  Unnamed: 7  Unnamed: 8
0   P1C201  NaN  NaN    6453      M   36         NaN         NaN         NaN
1   P1C202  NaN  NaN   28670      F   58         NaN         NaN         NaN
2   P1C203  NaN  NaN   41398      F   58         NaN         NaN         NaN
3   P1C204  NaN  NaN   54525      M   47         NaN         NaN         NaN
4   P1C205  NaN  NaN   95691      F   72         NaN         NaN         NaN
..     ...  ...  ...     ...    ...  ...         ...         ...         ...
45  P8C246  NaN  NaN  505593      M   51         NaN         NaN         NaN
46  P8C247  NaN  NaN  506350      F   30         NaN         NaN         NaN
47  P8C248  NaN  NaN  506402      M   53         NaN         NaN         NaN
48  P8C249  NaN  NaN  506606      F   38         NaN         NaN         NaN
49  P8C250  NaN  NaN  506640      F   37         NaN         NaN         NaN

[650 rows x 9 columns]

# CCA Patient Information

In [8]:
dff_ = pd.concat([df_1, df_2, df_3, df_4], axis=0)
dff_

      Code  SID  PID      HN Gender   Age  Unnamed: 6  Unnamed: 7  Unnamed: 8
0    P1001  NaN  NaN  454013      F  51.0         NaN         NaN         NaN
1    P1002  NaN  NaN   79316      F  76.0         NaN         NaN         NaN
2    P1003  NaN  NaN   97207      M  44.0         NaN         NaN         NaN
3    P1004  NaN  NaN   98052      F  66.0         NaN         NaN         NaN
4    P1005  NaN  NaN  104334      F  49.0         NaN         NaN         NaN
..     ...  ...  ...     ...    ...   ...         ...         ...         ...
45  P8C246  NaN  NaN  505593      M  51.0         NaN         NaN         NaN
46  P8C247  NaN  NaN  506350      F  30.0         NaN         NaN         NaN
47  P8C248  NaN  NaN  506402      M  53.0         NaN         NaN         NaN
48  P8C249  NaN  NaN  506606      F  38.0         NaN         NaN         NaN
49  P8C250  NaN  NaN  506640      F  37.0         NaN         NaN         NaN

[2968 rows x 9 columns]

In [10]:
os.chdir( '/media/tohn/SSD/CSV_CCA_Patient_Information')
dff_.to_csv('CSV_CCA_Patient_Information.csv')